.advantages {
    background-image: url("../img/advantages_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.advantages_title {
    text-align: center;
    padding-top: 50px;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.5),
    0 0 55px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5);
}

.advantages-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 230px;
    margin-left: 325px;
    width: 1400px;
}

.advantages-content_text {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.5),
    0 0 55px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5);
}
