.contacts {
    background-image: url("../img/bottom_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts_wrapper {
    display: flex;
    margin: 0 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1240px;
}

.contacts_title {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.5),
    0 0 55px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5);
}

.contacts_img {
    width: 175px;
    height: 175px;
    filter: grayscale(100%);
}

.contacts_img img {
    width: 100%;
    height: 100%;
}

.contacts_info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.contacts_content_img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.contacts_content_img img {
    width: 100%;
    height: 100%;
}

.contacts_text {
    color: #fff;
    font-size: 33px;
    text-transform: uppercase;
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.5),
    0 0 55px rgba(255, 255, 255, 0.5),
    0 0 80px rgba(255, 255, 255, 0.5);
}

.contacts_text-number {
    display: inline-block;
}
